@model SistemaPrestamos.Models.DTOs.PrestamoDTO
@{
    ViewData["Title"] = "Listar";
}

<div class="card" style="margin-top:30px">
    <div class="card-header bg-dark text-light ml-0 row container">
        <div class="col-md-6">
            <i class="fa fa-money"></i>&nbsp;Comisiones
        </div>
    </div>
    <div class="card-body">
        <div class="mt-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre del Socio</label>
                    <input type="text" class="form-control" asp-for="Nombre" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">Nº de Préstamos</label>
                    @Html.DropDownList("ComboboxPrestamo", new SelectList(Model.Prestamos, "Id", "Codigo"), "-- Seleccione un número de préstamo--", new { @class = "form-control" })
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Monto del Préstamo</label>
                    <input type="text" class="form-control" id="txtMontoPrestamo" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label>Estado de la Comisión</label>
                    <input type="text" class="form-control" id="txtEstadoComision" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>% Préstamo</label>
                    <input type="text" class="form-control" id="txtPorcentaje"
                           onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                           onchange="ValidateInput(this)"
                           onblur="ValidateInput(this)">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Comisión</label>
                    <input type="text" class="form-control" id="txtComision" readonly>
                </div>
            </div>
            <button type="button" class="btn btn-info pull-right" id="btnAgregar">Agregar</button>
        </div>
        <div class="mt-5">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nº Préstamo</th>
                        <th>Monto del Prestamo</th>
                        <th>% Préstamo</th>
                        <th>Comisión</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="comisiones">
                </tbody>
            </table>
        </div>
        <div class="btn-group pull-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger pull-right">Cancelar</a>&nbsp;
            <button class="btn btn-primary pull-right">Guardar</button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Mantenimientos/Prestamo.js"></script>
}

