@model SistemaPrestamos.Models.DTOs.EstadoPrestamoDTO
@{
    ViewData["Title"] = "Editar";
}

<div class="card mt-5">
    <div class="card-header bg-dark text-light ml-0 row container">
        <div class="col-md-6">
            <i class="fa fa-save"></i>&nbsp;Editar Estado de Préstamo
        </div>
        <div class="col-md-6 text-right"> </div>
    </div>
    <div class="card-body">
        <form class="mt-2" method="post" asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Estado" />
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="@Model.Nombre" class="col-form-label"></label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" asp-for="@Model.Nombre" />
                            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <input type="submit" class="btn btn-info form-control" value="Guardar" />
                        </div>
                        <div class="col-4">
                            <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
